<div class="row">
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/dashboard.png" alt="Dashboard" />
        <span>Dashboard</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a routerLink="/company/search-company">
        <img src="assets/img/company.png" alt="Company" />
        <span>Company</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a routerLink="/lead/search-lead">
        <img src="assets/img/lead.png" alt="lead" />
        <span>Lead</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a routerLink="/account/search-account">
        <img src="assets/img/account.png" alt="account" />
        <span>Account</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a routerLink="/contact/search-contact">
        <img src="assets/img/contact.png" alt="contact" />
        <span>Contact</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/job.png" alt="job" />
        <span>Job</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/candidate.png" alt="candidate" />
        <span>Candidate</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/task.png" alt="task" />
        <span>Task</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/interview.png" alt="interview" />
        <span>Interview</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/offer.png" alt="offer" />
        <span>Offer</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/mis.png" alt="mis" />
        <span>MIS</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/productivity.png" alt="productivity" />
        <span>Productivity</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/performance-analysis.png" alt="performance-analysis" />
        <span>Performance Analysis</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/call.png" alt="call" />
        <span>Call</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/mail.png" alt="mail" />
        <span>Mail</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/agreement.png" alt="agreement" />
        <span>Agreement</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/meeting.png" alt="meeting" />
        <span>Meeting</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/invoice.png" alt="invoice" />
        <span>Invoice</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/internal-search.png" alt="internal-search" />
        <span>Internal Search</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/delegate-rights.png" alt="delegate-rights" />
        <span>Delegated Rights</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/apply-incentive.png" alt="apply-incentive" />
        <span>Apply Incentive</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="welcome-box text-center">
      <a href="#">
        <img src="assets/img/incentive.png" alt="incentive" />
        <span>Incentive Request</span>
      </a>
    </div>
  </div>
</div>