<div class="row">
    <div class="container-fluid pl-0 pr-0">
        <button class="btn btn-primary mr-4 float-right my-3" (click)="openCreateParameterScaleDialog()">Add</button>
        <dx-data-grid id="gridContainer" class="data-grid-panel mt-3" [dataSource]="qualificationParameterDataSource"
            [showRowLines]="true" [showBorders]="true">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
            </dxo-pager>
            <dxi-column caption="S.No" cellTemplate="NoTemplate">
                <div *dxTemplate="let data of 'NoTemplate'">
                    {{data.rowIndex + 1}}
                </div>
            </dxi-column>
            <dxi-column dataField="parametername" caption="Qualification"></dxi-column>
            <dxi-column dataField="childparameter" caption="Parameter"></dxi-column>
            <dxi-column dataField="scaletext" caption="Scale">
            </dxi-column>
            <dxi-column dataField="createdby" caption="Created By">
            </dxi-column>
            <dxi-column dataField="createddate" caption="Created Date">
            </dxi-column>
            <dxi-column dataField="weightage" caption="Weightage">
            </dxi-column>
        </dx-data-grid>
    </div>
    <div class="col-md-12 mt-2">
        <div class="total-cost float-right mr-3 mb-2">
            <span>Sum=</span> <span>0</span>
        </div>
    </div>
</div>