<form class="bg-white">
    <div class="row">
        <div class="col-md-2">
            <ul class="title-coloum">
                <li><strong>Global Email</strong></li>
                <li><strong>Mail Body Template</strong></li>
                <li><strong>Client CC</strong></li>
                <li><strong>GH CC</strong></li>

            </ul>
        </div>
        <div class="col-md-5">
            <ul class="data-coloum">
                <li>N/A</li>
                <li>Telecom - Multiple Candidates</li>
                <li>N/A</li>
                <li>N/A</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="title-coloum">
                <li><strong>Client Sheet</strong></li>
                <li><strong>Client Portal Id</strong></li>
                <li><strong>Client BCC</strong></li>
                <li><strong>GH BCC</strong></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="data-coloum">
                <li>RBS_Ref_Likhan</li>
                <li>Yet To Define</li>
                <li>Yet To Define</li>
                <li>BFSI</li>

            </ul>
        </div>
    </div>
</form>